<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>G.A User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="CSS/usuario.css" rel="stylesheet">
    <link href="CSS/cabecalho.css" rel="stylesheet">
    <link href="CSS/reset.css" rel="stylesheet"> 
    <link href="imgs/logo/White.png" rel="icon">
    <script src="https://kit.fontawesome.com/525c49cbb7.js" crossorigin="anonymous"></script>
  </head>

<body onload="UserLogado()">

<!--Cabeçalho-->
<div class="header" id="header">
    <div class="logo_header">
        <a href="index.html">
            <img src="imgs/logo/White.png" alt="Login">
        </a>
    </div>  
  
    <div class="menu">
        <a href="usuario.html">
            <img src="imgs/cabecalho/usuario.png" alt="Usuário">
        </a>
    </div>
</div>
<!--Fim - Cabeçalho-->

    <div class="espaco-navbar"></div>

    <div class="usuario">
        <div class="foto">
            <i class="fa-solid fa-user userAvatar"></i>
        </div>
        <div id="name" class="name">Username</div>
        <div id="email" class="email">email@mail.domain</div>
    </div>

    <div class="logoff">
        <button class="btnlogoff" id="btnlogoff">FAZER LOGOFF</button>
    </div>



    <div class="suasdenuncias"><i class="fa-solid fa-megaphone"></i>Suas Denúncias
    </div>
    <div class="ponto">
        <div id="denunciasPontosPerigosos" class="denunciasP"></div>
    </div>

    

    <!--<script src="usuario.js"></script>-->
</body>

</html>